
*{
    /* background: url("dd.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(82, 77, 7);
    
}

.topDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(35, 190, 201);
    /* background-color: blue; */
    background: url("dd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 100%;
    max-height: 100%;

}

.header
{
    background: rgb(92, 148, 197);
    
}

.subDiv
{
    display: flex;
    flex-direction: column;
    border: 2px solid #0e8f68a4;
    background-color: rgb(34, 12, 12);
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding: 12% 8px;
    font-size: 16px;
}

button
{
    padding: 6px 8px;
    font-size: 16px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    max-width: 11%;
    background-color: rgb(69, 27, 73);
    align-items: center;
}